opencv-python
numpy
matplotlib
torch
torchvision
pillow
pandas
timm
scikit-learn
tensorflow
nvidia-cuda-nvcc
time
git+https://github.com/mukheshpugal/dictlearn_gpu.git@master
vit-pytorch
albumentations
tqdm
tensorboard 
tensorboardx